<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="text-center mb-4">Crear Usuario</h1>
      <form (ngSubmit)="onSubmit()" #userForm="ngForm" novalidate>
        <div class="form-group mb-3">
          <label for="nombre">Nombre</label>
          <input
            type="text"
            id="nombre"
            class="form-control"
            required
            minlength="2"
            maxlength="20"
            name="nombre"
            [(ngModel)]="usuario.nombre"
            #nombre="ngModel"
          />
          <!--div de validaciones Alerts-->
          <div
            *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
            class="text-danger"
          >
            <small *ngIf="nombre.errors?.['required']">
              El nombre es obligatorio</small
            >
            <small *ngIf="nombre.errors?.['minlength']"
              >El nombre debe tener mas de 2 caracteres</small
            >
            <small *ngIf="nombre.errors?.['maxlength']"
              >El nombre debe tener menos de 20 caracteres</small
            >
          </div>
        </div>

        <div class="form-group mb-3">
          <label for="apellidos">Apellidos</label>
          <input
            type="text"
            id="apellidos"
            class="form-control"
            required
            name="apellidos"
            [(ngModel)]="usuario.apellidos"
            #ape="ngModel"
          />
          <!--div de validaciones Alerts-->
          <div
            *ngIf="ape.invalid && (ape.dirty || ape.touched)"
            class="text-danger"
          >
            <small *ngIf="ape.errors?.['required']">
              El Apellido es obligatorio</small
            >
          </div>
        </div>

        <div class="form-group mb-3">
          <label for="tipoDocumento">Tipo de documento</label>

          <select
            placeholder = 'Seleccione un tipo de documento'
            id="tipoDocumento"
            class="form-select"
            required
            name="tipoDocumento"
            [(ngModel)]="usuario.tipoDocumento"
            #tipoDoc="ngModel"
          >
            <option *ngFor="let tipo of tipoDocumento" [value]="tipo">
              {{ tipo }}
            </option>
          </select>
          <!-- Validaciones -->
          <div
            *ngIf="tipoDoc.invalid && (tipoDoc.dirty || tipoDoc.touched)"
            class="text-danger"
          >
            <small *ngIf="tipoDoc.errors?.['required']"
              >El Tipo de Documento es obligatorio</small
            >
          </div>
        </div>

        <div class="form-group mb-3">
          <label for="documento">Documento</label>
          <input
            type="text"
            id="documento"
            class="form-control"
            required
            name="documento"
            [(ngModel)]="usuario.documento"
            #documento="ngModel"
          />
          <!--div de validaciones Alerts-->
          <div
            *ngIf="documento.invalid && (documento.dirty || documento.touched)"
            class="text-danger"
          >
            <small *ngIf="documento.errors?.['required']">
              El documento es obligatorio</small
            >
          </div>
        </div>

        <div class="form-group mb-3">
          <label for="correoElectronico">Correo Electrónico</label>
          <input
            type="email"
            id="correoElectronico"
            class="form-control"
            required
            email
            name="correoElectronico"
            [(ngModel)]="usuario.correoElectronico"
            #mail="ngModel"
          />
          <!--div de validaciones Alerts-->
          <div
            *ngIf="mail.invalid && (mail.dirty || mail.touched)"
            class="text-danger"
          >
            <small *ngIf="mail.errors?.['required']">
              El correo electrónico es obligatorio</small
            >
            <small *ngIf="mail.errors?.['email']">
              El correo electrónico no tiene el formato solicitado</small
            >
          </div>
        </div>

        <div class="form-group mb-3">
          <label for="contrasenia">Contraseña</label>
          <input
            type="password"
            id="contrasenia"
            class="form-control"
            required
            minlength="8"
            maxlength="10"
            name="contrasenia"
            [(ngModel)]="usuario.contrasenia"
            #contrasenia="ngModel"
          />
          <!--div de validaciones Alerts-->
          <div
            *ngIf="contrasenia.invalid && (contrasenia.dirty || contrasenia.touched)"
            class="text-danger"
          >
            <small *ngIf="contrasenia.errors?.['required']">
              La contraseña es obligatoria</small
            >
            <small *ngIf="contrasenia.errors?.['minlength']"
              >La contraseña debe tener mas de 8 caracteres</small
            >
            <small *ngIf="contrasenia.errors?.['maxlength']"
              >La contraseña debe tener menos de 10 caracteres</small
            >
          </div>
        </div>

        <div class="form-group mb-3">
          <label for="celular">Celular</label>
          <input
            type="number"
            id="celular"
            class="form-control"
            required
            pattern="^[0-9]{10}"
            name="celular"
            [(ngModel)]="usuario.celular"
            #celular="ngModel"
          />
          <!--div de validaciones Alerts-->
          <div
            *ngIf="celular.invalid && (celular.dirty || celular.touched)"
            class="text-danger"
          >
            <small *ngIf="celular.errors?.['required']">
              El celular es obligatorio</small
            >
            <small *ngIf="celular.errors?.['pattern']">
              El celular debe tener 10 digitos</small
            >
          </div>
        </div>

        <div class="form-group mb-3">
            <label for="edad">Edad</label>
            <input
              type="number"
              id="edad"
              class="form-control"
              required
              min="1"
              name="edad"
              [(ngModel)]="usuario.edad"
              #edad="ngModel"
            />
            <!--div de validaciones Alerts-->
            <div
              *ngIf="edad.invalid && (edad.dirty || edad.touched)"
              class="text-danger"
            >
              <small *ngIf="edad.errors?.['required']">
                La edad es obligatorio</small
              >
              <small *ngIf="edad.errors?.['min']">
                La edad debe ser mayor a 0
              </small>
            </div>
        </div>

          <div class="form-group mb-3">
              <label for="rol">Rol</label>
              <select
                id="rol"
                class="form-select"
                required
                name="rol"
                [(ngModel)]="usuario.rol"
                (change) = 'onRoleChange()'
                #rol="ngModel"
              >
                <option [ngValue]="null" disabled selected>Seleccione un rol</option>
                <option *ngFor="let rol of roles" [ngValue]="rol">
                  {{ rol.nombre }}
                </option>
              </select>
              <!-- Validaciones -->
              <div *ngIf="rol.invalid && (rol.dirty || rol.touched)" class="text-danger">
                <small *ngIf="rol.errors?.['required']">El rol es obligatorio</small>
              </div>
          </div>
          <!-- Campos específicos para Inversionista -->
          <div *ngIf="isInversionista" class="form-group">
            <label for="capitalDisponible">Capital Disponible</label>
            <input
              type="number"
              id="capitalDisponible"
              class="form-control"
              [(ngModel)]="inversionista.capitalDisponible"
              name="capitalDisponible"
              required
            />
          </div>

          <!-- Campos específicos para Emprendedor -->
          <div *ngIf="isEmprendedor" class="form-group">
            <label for="experiencia">Experiencia</label>
            <input
              type="number"
              id="experiencia"
              class="form-control"
              [(ngModel)]="emprendedor.experiencia"
              name="experiencia"
              required
            />
          </div>
          <div class="d-flex justify-content-center">
            <button
            class="btn btn-success px-5"
            type="submit"
            [disabled]="userForm.invalid"
          >
            Enviar
          </button>
          </div>

      </form>
    </div>
  </div>
</div>
