<app-navbar></app-navbar>

<div class="emprendimientos-container">
  <div *ngFor="let emprendimiento of emprendimientos" class="card">
    <img [src]="emprendimiento.urlImagen" alt="{{ emprendimiento.titulo }}" />
    <div class="card-content">
      <h3>{{ emprendimiento.titulo }}</h3>
      <p><strong>Descripción:</strong> {{ emprendimiento.descripcion }}</p>
      <p><strong>Ubicación:</strong> {{ emprendimiento.ubicacion }}</p>
      <p><strong>Rendimiento:</strong> {{ emprendimiento.rendimiento }}%</p>
      <p><strong>Monto Requerido:</strong> {{ emprendimiento.montoRequerido | currency }}</p>

    </div>
    <button (click)="verDetalle(emprendimiento)">Ver más</button>
  </div>
</div>

<app-footer></app-footer>
