<!-- Footer Full Width -->
<div class="container-fluid p-0">
  <footer class="footer bg-dark text-center text-white">
    <!-- Content inside the footer -->
    <div class="container p-4">
      <div class="row">
        <!-- Logo Section -->

        <div class="col-lg-4 col-md-6 mb-4">
          <div
            class="rounded-circle bg-white shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto"
            style="width: 150px; height: 150px; overflow: hidden;"
          >
            <img
              src="../../../assets/images/logo.png"
              alt="Logo"
              style="width: 100%; height: 100%; object-fit: cover;"
            />
          </div>
          <p>Plataforma de emprendimiento e innovación</p>
          <ul class="list-unstyled d-flex justify-content-center">
            <li>
              <a class="text-white px-2" href="#!">
                <i class="fab fa-facebook-square"></i>
              </a>
            </li>
            <li>
              <a class="text-white px-2" href="#!">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            <li>
              <a class="text-white ps-2" href="#!">
                <i class="fab fa-youtube"></i>
              </a>
            </li>
          </ul>
        </div>
        <!-- About Section -->
        <div class="col-lg-4 col-md-6 mb-4">
          <h5>Conectacol</h5>
          <p>
            Conecta emprendedores e inversionistas para fomentar el desarrollo de proyectos, promoviendo la innovación y generación de empleo.
          </p>
        </div>
        <!-- Contact Section -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Contacto</h6>
          <p><i class="fas fa-home mr-3"></i> Medellín, Colombia</p>
          <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
          <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
        </div>
      </div>
    </div>
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2024 Conectacol
    </div>
  </footer>
</div>
